#preloader span{

		border-color: #656565 #D86838;

}

.hero-section, .work, .social-bar, .searchform input[type='submit'], #commentform #submit, .blogDetails td:hover, .tagcloud a:hover, .question, .tp-caption.mediumbgcolor, .mediumbgcolor, .numbers, .progress .progress-bar-warning, .seo .btn-1:hover, ul.products li.product .add_to_cart_button, .woocommerce #content div.product form.cart .button, .woocommerce div.product form.cart .button, .woocommerce-page #content div.product form.cart .button, .woocommerce-page div.product form.cart .button, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, .woocommerce #content input.button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce-page #content input.button, .woocommerce-page #respond input#submit, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce-page input.button.alt, .woocommerce #content nav.woocommerce-pagination ul li a:focus, .woocommerce #content nav.woocommerce-pagination ul li a:hover, .woocommerce #content nav.woocommerce-pagination ul li span.current, .woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce-page #content nav.woocommerce-pagination ul li a:focus, .woocommerce-page #content nav.woocommerce-pagination ul li a:hover, .woocommerce-page #content nav.woocommerce-pagination ul li span.current, .woocommerce-page nav.woocommerce-pagination ul li a:focus, .woocommerce-page nav.woocommerce-pagination ul li a:hover, .woocommerce-page nav.woocommerce-pagination ul li span.current, .wpcf7-submit{

background-color: #D86838;

}

.post-1 .author-name, .a-t-2 .panel-heading i, .color, .macs .right-ul i, .macs .left-ul i, .seo-2 .btn-1, .latest-blog-excerpt a, .latest-blog-comment, .testi-position, .orane-sidebar ul li a:hover, .navbar-default .navbar-nav > li:hover > a, .navbar-default .navbar-nav > li.current-menu-item > a, .social-icons a:hover, footer .post-title .title:hover, .current-menu-item > a, .blog-read-more:hover, a:hover, a:focus, .service:hover .service-head, .service:hover .icon i, ul.products li.product > a h3, .woocommerce #content div.product p.price, .woocommerce #content div.product span.price, .woocommerce div.product p.price, .woocommerce div.product span.price, .woocommerce-page #content div.product p.price, .woocommerce-page #content div.product span.price, .woocommerce-page div.product p.price, .woocommerce-page div.product span.price, .woocommerce .woocommerce-breadcrumb a, .woocommerce-page .woocommerce-breadcrumb a, .bbp-breadcrumb a, .woocommerce-pagination .page-numbers li a, .wpb_toggle, #content h4.wpb_toggle, .post-1 .author-name, .color, .macs .right-ul i, .macs .left-ul i, .seo-2 .btn-1, .latest-blog-excerpt a, .latest-blog-comment, .testi-position, .orane-sidebar ul li a:hover, .navbar-default .navbar-nav > li:hover > a, .navbar-default .navbar-nav > li.current-menu-item > a, .social-icons a:hover, footer .post-title .title:hover, .current-menu-item > a, .blog-read-more:hover, a:hover, a:focus, .service:hover .service-head, .service:hover .icon i, .woocommerce-account .addresses .title .edit{

	color: #D86838;

}

.hero-section, .work, .social-bar, .searchform input[type='submit'], #commentform #submit, .blogDetails td:hover, .tagcloud a:hover, .question, .tp-caption.mediumbgcolor, .mediumbgcolor, .numbers, .progress .progress-bar-warning, .seo .btn-1:hover, ul.products li.product .add_to_cart_button, .woocommerce #content div.product form.cart .button, .woocommerce div.product form.cart .button, .woocommerce-page #content div.product form.cart .button, .woocommerce-page div.product form.cart .button, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, .woocommerce #content input.button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce-page #content input.button, .woocommerce-page #respond input#submit, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce-page input.button.alt, .woocommerce #content nav.woocommerce-pagination ul li a:focus, .woocommerce #content nav.woocommerce-pagination ul li a:hover, .woocommerce #content nav.woocommerce-pagination ul li span.current, .woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce-page #content nav.woocommerce-pagination ul li a:focus, .woocommerce-page #content nav.woocommerce-pagination ul li a:hover, .woocommerce-page #content nav.woocommerce-pagination ul li span.current, .woocommerce-page nav.woocommerce-pagination ul li a:focus, .woocommerce-page nav.woocommerce-pagination ul li a:hover, .woocommerce-page nav.woocommerce-pagination ul li span.current, .wpcf7-submit{

	background-color: #D86838;

}

.navbar-default .navbar-nav > li:hover > a, .navbar-default .navbar-nav > li.current-menu-item > a{

	border-bottom-color: #D86838;

}

.macs .right-ul i, .macs .left-ul i, .blog-read-more:hover, .wpcf7-form-control[type='text']:focus, .wpcf7-form-control[type='email']:focus, textarea.wpcf7-form-control:focus{

	border-color: #D86838;

}

.popup{

	background: -webkit-linear-gradient(top left, white 50%, #D86838 50%);

    background:    -moz-linear-gradient(top left, white 50%, #D86838 50%);

    background:     -ms-linear-gradient(top left, white 50%, #D86838 50%);

    background:      -o-linear-gradient(top left, white 50%, #D86838 50%);

    background:         linear-gradient(top left, white 50%, #D86838 50%);

}

.popup:hover {

    background: -webkit-linear-gradient(top left, #D86838 50%, white 50%);

    background:    -moz-linear-gradient(top left, #D86838 50%, white 50%);

    background:     -ms-linear-gradient(top left, #D86838 50%, white 50%);

    background:      -o-linear-gradient(top left, #D86838 50%, white 50%);

    background:         linear-gradient(top left, #D86838 50%, white 50%);

	transition:.5s;

}

.tp-caption.mediumbgcolor, .mediumbgcolor{

	background-color:#D86838 !important;

}

.subscribe input[type='submit']{
    background-color: #D86838;
}
.seo .btn-1{
    background-color: #D86838;
}

ul.products li.product .add_to_cart_button, .subscribe .sub-btn, .subscribe input[type='submit'], .searchform input[type='submit'], #commentform #submit, #searchsubmit, .tagcloud a, .seo .btn-1, ul.products li.product .add_to_cart_button, .woocommerce #content div.product form.cart .button, .woocommerce div.product form.cart .button, .woocommerce-page #content div.product form.cart .button, .woocommerce-page div.product form.cart .button, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, .woocommerce #content input.button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce-page #content input.button, .woocommerce-page #respond input#submit, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce-page input.button.alt, .woocommerce #content nav.woocommerce-pagination ul li a:focus, .woocommerce #content nav.woocommerce-pagination ul li a:hover, .woocommerce #content nav.woocommerce-pagination ul li span.current, .woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce-page #content nav.woocommerce-pagination ul li a:focus, .woocommerce-page #content nav.woocommerce-pagination ul li a:hover, .woocommerce-page #content nav.woocommerce-pagination ul li span.current, .woocommerce-page nav.woocommerce-pagination ul li a:focus, .woocommerce-page nav.woocommerce-pagination ul li a:hover, .woocommerce-page nav.woocommerce-pagination ul li span.current, .wpcf7-submit, #bbp_reply_submit, #bbp_topic_submit, #buddypress .comment-reply-link, #buddypress a.button, #buddypress button, #buddypress div.generic-button a, #buddypress input[type='button'], #buddypress input[type='reset'], #buddypress input[type='submit'], #buddypress ul.button-nav li a, a.bp-title-button, .woocommerce #content input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce-page #content input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce-page a.button.alt, .woocommerce-page button.button.alt, .woocommerce-page input.button.alt, .subscribe .sub-btn, .subscribe input[type='submit']{
    background-color: #D86838;
}

.paging-navigation ul li span{
    background-color: #D86838;
}

.a-t-2 .panel-group .panel{
    border-color: #D86838;
}
.wpcf7-submit:hover{
    border-color: #D86838;
    color: #D86838;
}

.contact .social-icons-2 li:hover{
    border-color:#D86838;
    color: #D86838;
}

.contact .social-icons-2 li:hover a{
    color: #D86838;
}

.woocommerce nav.woocommerce-pagination ul li span.current{
    border-color: #D86838;
}

.paging-navigation ul li span.current{
    border-color: #D86838;
}

